NODE_ENV=production
PORT=4000

DATABASE_URL=postgresql://mediadmin:Str0ngPass!2025@postgres:5432/medidispense

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=RedisPass!2025

MQTT_HOST=mqtt_broker
MQTT_PORT=1883
MQTT_USERNAME=backend_service
MQTT_PASSWORD=MqttBack!2025

JWT_SECRET=superSecretJWT_MediDispense_2025_changeme!
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=refreshSecret_2025_changeme!
REFRESH_TOKEN_EXPIRES_IN=30d

FRONTEND_URL=http://localhost:3000
